openapi: 3.0.2

servers:
  - description: OBADA Production API
    url: http://obs.node.obada.io
  - description: OBADA Staging API
    url: https://dev.node.obada.io

info:
  version: "0.0.1"
  title: OBADA API
  termsOfService: 'https://www.obada.io/terms/'
  contact:
    name: Obada Dev Team
    email: techops@obada.io
    url: 'https://www.obada.io'

tags:
  - name: Accounts
  - name: Obit
  - name: Utils

security:
  - bearerAuth: []

paths:
  /accounts/my-balance:
    get:
      summary: Shows account balance of OBADA address
      operationId: balance
      tags:
        - Accounts
      responses:
        "200":
          $ref: "#/components/responses/AccountBalance"
        "401":
          $ref: "#/components/responses/NotAuthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
           $ref: "#/components/responses/InternalServerError"
  /accounts:
    post:
      summary: Creates a new Account
      description: "Creates a new account, using JWT uid as a internal user id"
      operationId: createAccount
      tags:
        - Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NewAccountRequest"
      responses:
        "201":
          $ref: "#/components/responses/NewAccountResponse"
        "401":
          $ref: "#/components/responses/NotAuthorized"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
           $ref: "#/components/responses/InternalServerError"
  /obit/checksum:
    post:
      summary: Generates Obit checksum
      description: 'Generates Obit checksum and provides a log of generation details'
      operationId: generateChecksum
      tags:
        - Utils
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateObitChecksumRequest'
      responses:
        "200":
          $ref: '#/components/responses/GenerateObitChecksumResponse'
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /obit/did:
    post:
      summary: Generate Obit DID
      description: 'Returns the Obit DID for a given device_id, part_number and serial_number input.'
      operationId: generateDID
      tags:
        - Utils
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateObitDIDRequest'
      responses:
        "200":
          $ref: "#/components/responses/GenerateObitDIDResponse"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /obits:
    post:
      summary: Save Obit
      description: 'Returns Obit with updated checksum if data was changed.'
      operationId: save
      tags:
        - Obit
      requestBody:
        content:
          application/json::
            schema:
              $ref: '#/components/schemas/SaveObitRequest'
      responses:
        "200":
          $ref: "#/components/responses/Obit"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalServerError"
    get:
      tags:
        - Obit
      summary: Search obits by query
      description: Implements a fulltext search for obits by "searchTerm".
      operationId: search
      parameters:
        - name: q
          description: Query argument that used for a fulltext search
          in: query
          schema:
            type: string
            example: "fe403a1afe16203f4b8bb3a0e72d3e17567897bc15293e4a87b663e441030aea"
        - name: offset
          in: query
          description: Number of records to skip for pagination.
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: List of obits with pagination responded by given arguments.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Obits"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /obits/{key}/to-chain:
    get:
      tags:
        - Obit
      summary: Uploads NFT to the blockchain
      description: This operation actually executes NFT minting proccess
      operationId: uploadToChain
      parameters:
        - name: key
          in: path
          description: The given ObitDID or USN argument
          required: true
          schema:
            type: string
            example: "did:obada:fe096095-e0f0-4918-9607-6567bd5756b5"
      responses:
        "204":
          description: NFT was uploaded to chain
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

          
  /obits/{key}/from-chain:
    get:
      tags:
        - Obit
      summary: Download NFT from the blockchain
      description: This operation downloads NFT from chain
      operationId: downloadFromChain
      parameters:
        - name: key
          in: path
          description: The given ObitDID or USN argument
          required: true
          schema:
            type: string
            example: "did:obada:fe096095-e0f0-4918-9607-6567bd5756b5"
      responses:
        "204":
          description: NFT was uploaded to chain
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"      
      

  /obits/{key}:
    parameters:
      - name: key
        in: path
        description: The given ObitDID or USN argument
        required: true
        schema:
          type: string
          example: "did:obada:fe096095-e0f0-4918-9607-6567bd5756b5"

    get:
      tags:
        - Obit
      summary: Get Obit by DID or USN
      description: Get a single Obit by given ObitDID or USN
      operationId: get
      responses:
        "200":
          $ref: "#/components/responses/Obit"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /obits/{key}/history:
    get:
      tags:
        - Obit
      summary: Get Obit history by DID or USN
      description: Shows the history of changes by given Obit with ObitDID or USN
      operationId: history
      parameters:
        - name: key
          in: path
          description: The given ObitDID or USN argument
          required: true
          schema:
            type: string
            example: "did:obada:fe096095-e0f0-4918-9607-6567bd5756b5"
      responses:
        "200":
          $ref: "#/components/responses/ObitHistoryResponse"
        "404":
          $ref: "#/components/responses/NotFound"

components:
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
      
  schemas:
    NewAccountRequest:
      $ref: "definitions/Account.yml#/NewAccountRequest"
    GenerateObitDIDRequest:
      $ref: "definitions/Utils.yml#/GenerateObitDIDRequest"
    GenerateObitChecksumRequest:
       $ref: "definitions/Utils.yml#/GenerateObitChecksumRequest"
    Obits:
      $ref: "definitions/Obit.yml#/Obits"
    Obit:
      $ref: "definitions/Obit.yml#/Obit"
    ObitHistory:
      $ref: "definitions/Obit.yml#/ObitHistory"
    SaveObitRequest:
      $ref: "definitions/Obit.yml#/SaveObitRequest"

  responses:
    AccountBalance:
      description: "Account balance response"
      content:
        application/json:
          schema:
            $ref: "definitions/Account.yml#/AccountBalance"
            
    NewAccountResponse:
      description: "Create new Account response"
      content:
        application/json:
          schema:
            $ref: "definitions/Account.yml#/Account"
      
    Obit:
      description: ""
      content:
        application/json:
          schema:
            $ref: "definitions/Obit.yml#/Obit"
      
    GenerateObitChecksumResponse:
      description: Obit checksum response
      content:
        application/json:
          schema:
            $ref: "definitions/Utils.yml#/GenerateObitChecksumResponse"
      
    GenerateObitDIDResponse:
      description: Obit DID response
      content:
        application/json:
          schema:
            $ref: "definitions/Utils.yml#/GenerateObitDIDResponse"

    ObitHistoryResponse:
      description: Collection of historical changes for given obit
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: "#/components/schemas/ObitHistory"

    InternalServerError:
      description: Internal server error.
      content:
        application/json:
          schema:
            $ref: "Errors.yml#/InternalServerError"

    NotFound:
      description: The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: "Errors.yml#/NotFound"

    NotAuthorized:
      description: The request is not authorized.
      content:
        application/json:
          schema:
            $ref: "Errors.yml#/NotAuthorized"

    UnprocessableEntity:
      description: The submitted entity could not be processed.
      content:
        application/json:
          schema:
            $ref: "Errors.yml#/UnprocessableEntity"
